* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  .container{
      display: flex;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      perspective-origin: 0%;
      perspective: 8px;
      position: relative;
      width: 100%;
  }

  .background{
      height: 100%;
      left: 0;
      position: absolute;
      top:0;
      transform: translateZ(0px);
      width: 100%;
  }
  .foreground{
      margin: 25% 0 0 10%;
  }
  .foreground__text{
      color: #fff;
      font-family: Montserrat, serif;
      font-size: 100px;
      text-shadow: 0 5px 15px rgba(0,0,0,.2);
      /*{perspective - distance} / perspective = scale
      * {8-3}/8 = 0.625
      */
  }

  .foreground__inner{
      display: block;
      transform: translateZ(3px) scale(0.625)
  }
  .foreground__inner--one{
      transform: translateZ(3px) scale(0.625)
  }
  .foreground__inner--two{
      transform: translateZ(4px) scale(0.5)
  }